
            body {
                background: #E7EFC5;
                    padding: 10px;
                font-family: arial;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            [id=all-contents] {
                max-width: 800px;
                margin: auto;
            }

            /* navigation menu */
            nav {
                background: #BFD7B5;
                font-family: 'Handlee', cursive;
                margin: 0 auto;
                display: flex;
                padding: 10px;
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(255, 255, 255);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }
             h1 {
                font-family: 'Handlee', cursive;
                color: #413C58;
                font-size: 45px;
                text-align: left;
                margin-left: 600px; 
            }
            
            img {
            	height: 170px;
            	width: 170px;
            	box-shadow: rgba(0,0,0,0.2) 10px 10px;
            	margin-left: 20px;
            	float: left;
            	border-radius:100%;

            }
        
            h2 {
                float: left;
                font-family: 'Handlee', cursive;
                color: #A3C4BC;
                font-size: 35px;
                margin-left: 30px;
            }
            
            h3 {
                float: left;
                font-family: 'Handlee', cursive;
                color: #A3C4BC;
                font-size: 20px;
                margin-left: 30px;
            }
           
            a:link {
                text-decoration: none;
                color: white;
            }


            a:visited {
                text-decoration: none;
                color: #00E4F5;
            }

            a:hover {
                text-decoration: underline;
                color: orange;
            }

        